In [2]:
import pandas as pd
import pyarrow.parquet as pq
import os

Quitamos los warnigns

In [3]:
import warnings

# Filtrar warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=UserWarning)

In [4]:
# Especifica la ruta de la carpeta que contiene los archivos .parquet particionados
ruta_carpeta_parquet = '../datasets/parquets/metadatos Google'

# Lista para almacenar DataFrames de cada particiÃ³n
dataframes = []

# Itera sobre los archivos .parquet en la carpeta
for root, dirs, files in os.walk(ruta_carpeta_parquet):
    for file in files:
        if file.endswith('.parquet'):
            # Construye la ruta completa del archivo
            ruta_completa = os.path.join(root, file)
            
            # Lee el archivo .parquet y agrega el DataFrame a la lista
            df_particion = pd.read_parquet(ruta_completa)
            dataframes.append(df_particion)

# Concatena todos los DataFrames en uno solo
df_google = pd.concat(dataframes, ignore_index=True)

In [6]:
# Explode the "categories" column
df_explode = df_google.explode('category')

# Reset the index if needed
df_explode.reset_index(drop=True, inplace=True)

In [19]:
categorias = pd.read_csv('..\datasets\csv\G_beauty_categories.csv')

In [20]:
# Extract unique values from the "category" column in categorias DataFrame
valid_categories = categorias['category']

# Filter df_google based on valid categories
#df_google = df_google[df_google['category'].isin(valid_categories)]
df_explode = df_explode[df_explode['category'].isin(valid_categories)] 
df_google=  df_google[df_google['gmap_id'].isin(df_explode['gmap_id'].unique())]  
# Reset the index if needed
df_google.reset_index(drop=True, inplace=True)

In [21]:
df_google.head()

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url,State
0,Polished Nail Salon & Spa,"Polished Nail Salon & Spa, 1330 Hickman Rd, Wa...",0x87ec238afdd8837b:0x2f43f2b12142bff5,None,41.614198,-93.847269,"[Nail salon, Waxing hair removal service]",4.0,86,None,"[[Thursday, 9AMâ€“8PM], [Friday, 9AMâ€“8PM], [Satu...",{'Accessibility': ['Wheelchair accessible entr...,Open â‹… Closes 8PM,"[0x87ec2481df68e107:0x2978d64e14ca8313, 0x87ec...",https://www.google.com/maps/place//data=!4m2!3...,IA
1,Lenaâ€™s Beauty Nails Lashes Brows,"Lenaâ€™s Beauty Nails Lashes Brows, 657 NE Ventu...",0x87ec2481df6626b5:0xff5627745308ec2b,None,41.616310,-93.858345,[Beauty salon],4.2,128,None,"[[Thursday, 9AMâ€“7PM], [Friday, 9AMâ€“7PM], [Satu...",{'Accessibility': ['Wheelchair accessible entr...,Open â‹… Closes 7PM,"[0x87ec20ce836cac57:0x83bd66577e9a7a32, 0x87ee...",https://www.google.com/maps/place//data=!4m2!3...,IA
2,Angel-A Massage,"Angel-A Massage, 5329 Dewey Dr, Fair Oaks, CA ...",0x809adef58ae560bd:0x83412889e022ff70,None,38.662630,-121.308639,"[Massage spa, Chiropractor, Massage, Massage t...",4.3,6,None,"[[Thursday, 9:30AMâ€“9:30PM], [Friday, 9:30AMâ€“9:...",None,Open â‹… Closes 9:30PM,"[0x809adee9ac6f1bd7:0xe2e56d16919b9b8d, 0x809a...",https://www.google.com/maps/place//data=!4m2!3...,CA
3,Elite Massage,"Elite Massage, 8121 Madison Ave, Fair Oaks, CA...",0x809ae0a7ce91433b:0xe4b44fbb8c35ba57,None,38.664915,-121.260192,[Massage therapist],5.0,1,None,None,None,None,"[0x809ade27605defc1:0xdedc5626a281fd93, 0x809a...",https://www.google.com/maps/place//data=!4m2!3...,CA
4,Happy Spa & Massage (Formerly Hawaii Massage &...,Happy Spa & Massage (Formerly Hawaii Massage &...,0x809b217a6cbe4fa9:0x9fd06999c64c1815,None,38.785548,-121.286886,"[Massage therapist, Massage spa, Spa]",2.7,8,None,"[[Thursday, 9:30AMâ€“10PM], [Friday, 9:30AMâ€“10PM...",{'Accessibility': ['Wheelchair accessible entr...,Open â‹… Closes 10PM,"[0x809b20410d8df0fb:0x60610399a7ec1ba6, 0x809b...",https://www.google.com/maps/place//data=!4m2!3...,CA

In [22]:
df_google.shape

(210781, 16)

In [23]:
df_google.isnull().sum()/df_google.shape[0]*100

name                 0.000000
address              0.823129
gmap_id              0.000000
description         92.312400
latitude             0.000000
longitude            0.000000
category             0.000000
avg_rating           0.000000
num_of_reviews       0.000000
price               95.368178
hours               13.448556
MISC                14.543057
state               12.804759
relative_results     6.071230
url                  0.000000
State                0.307903
dtype: float64

Quitar duplicados

In [25]:
df_simplificado=df_google[['name','gmap_id','State',"num_of_reviews"]]

In [26]:
df_simplificado.drop_duplicates(inplace=True)

C:\Users\PC GABRIEL VERON\AppData\Local\Temp\ipykernel_8108\3924905242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_simplificado.drop_duplicates(inplace=True)

In [27]:
# Mostrar el DataFrame resultante
df_simplificado

,name,gmap_id,State,num_of_reviews
0,Polished Nail Salon & Spa,0x87ec238afdd8837b:0x2f43f2b12142bff5,IA,86
1,Lenaâ€™s Beauty Nails Lashes Brows,0x87ec2481df6626b5:0xff5627745308ec2b,IA,128
2,Angel-A Massage,0x809adef58ae560bd:0x83412889e022ff70,CA,6
3,Elite Massage,0x809ae0a7ce91433b:0xe4b44fbb8c35ba57,CA,1
4,Happy Spa & Massage (Formerly Hawaii Massage &...,0x809b217a6cbe4fa9:0x9fd06999c64c1815,CA,8
...,...,...,...,...
210776,Nails 7,0x8649c77ea5deee03:0x5bd1ca06d2f0c1ac,TX,108
210777,Scarlett O Haira's,0x88d929ef98b5ff25:0xa550550941e533f4,FL,18
210778,Townzen Barber Shop,0x87c91705fa79bec5:0x7a5d0c631376c543,AR,28
210779,"K. Renee Salon, Spas and Studios",0x8640c11d40bcda95:0x4771f905231fae90,TX,18
210780,Profiles Hair Design,0x8758dd1e2533c991:0x5f6d112918f07dba,WY,76

In [28]:
df_simplificado = df_simplificado.groupby(['name'])['num_of_reviews'].sum().reset_index()

In [29]:
df_simplificado

                                                     name  num_of_reviews
0                                "A Heads Up" Barber Shop               2
1                                     "BLADE THE BARBER "               4
2       "Color Me Tan" Spray Tan's by Tracey Formally ...              28
3                                           "D" Cutzz LLC               8
4                                 "Di Sole Beauty studio"               8
...                                                   ...             ...
148772                             ðŸ¥° Nina Nails&Spa LLC ðŸ¥°              18
148773                                   ðŸ¦¶ RELAX FOOT SPA               8
148774  ðŸ¦¶ Reflexology Reflexology Spa West End Shoppin...               6
148775  ðŸ¦¶ Relax Reflexology Summit Shopping Center Ama...              18
148776                        ðŸ¦¶ Relax Reflexology massage              13

[148777 rows x 2 columns]

In [30]:
df_simplificado.sort_values(by='num_of_reviews',ascending=False).head(100).to_csv(r'..\datasets\csv\top_100_reviews_google.csv',index=False)

Hacemos el filtrado por la empresa seleccionada para analizar los datos

In [7]:
# Filtrar por el valor 'ulta beauty' en la columna 'name'
df_google = df_google[df_google['name'] == 'Ulta Beauty']

In [8]:
df_google

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url,State
10105,Ulta Beauty,"Ulta Beauty, 500 Ventura Blvd Ste 1514, Camari...",0x80e849691015d7b7:0x314b8627656bc6d5,Chain with a diverse selection of cosmetics & ...,34.215101,-119.068813,"[Cosmetics store, Beauty salon, Hairdresser]",4.5,24,None,"[[Wednesday, 11AMâ€“7PM], [Thursday, 11AMâ€“7PM], ...",{'Accessibility': ['Wheelchair accessible entr...,Open â‹… Closes 7PM,None,https://www.google.com/maps/place//data=!4m2!3...,CA
36678,Ulta Beauty,"Ulta Beauty, 500 Ventura Blvd Ste 1514, Camari...",0x80e849691015d7b7:0x314b8627656bc6d5,Chain with a diverse selection of cosmetics & ...,34.215101,-119.068813,"[Cosmetics store, Beauty salon, Hairdresser]",4.5,24,None,"[[Wednesday, 11AMâ€“7PM], [Thursday, 11AMâ€“7PM], ...",{'Accessibility': ['Wheelchair accessible entr...,Open â‹… Closes 7PM,None,https://www.google.com/maps/place//data=!4m2!3...,CA
87420,Ulta Beauty,"Ulta Beauty, 1555 New Britain Ave, West Hartfo...",0x89e7ad0b7da12a11:0x2cab11e09a406d3a,Chain with a diverse selection of cosmetics & ...,41.719118,-72.760741,"[Cosmetics store, Beauty salon, Hairdresser]",4.2,15,None,"[[Monday, 10AMâ€“6PM], [Tuesday, 10AMâ€“8PM], [Wed...",{'Accessibility': ['Wheelchair accessible entr...,Closed â‹… Opens 10AM,None,https://www.google.com/maps/place//data=!4m2!3...,CT
105106,Ulta Beauty,"Ulta Beauty, 9 Centre Dr, Woodbury, NY 10917",0x89c2d130d433cc0b:0xb550e43a7ce3540,Chain with a diverse selection of cosmetics & ...,41.314613,-74.133123,"[Cosmetics store, Beauty salon, Hairdresser]",4.6,25,None,"[[Sunday, 11AMâ€“6PM], [Monday, 10AMâ€“6PM], [Tues...",{'Accessibility': ['Wheelchair accessible entr...,Closed â‹… Opens 11AM,None,https://www.google.com/maps/place//data=!4m2!3...,NY
107947,Ulta Beauty,"Ulta Beauty, 914 Hamburg Turnpike, Wayne, NJ 0...",0x89c30355aba7b017:0x3735266fb77aee42,Chain with a diverse selection of cosmetics & ...,40.960001,-74.229523,"[Cosmetics store, Beauty salon, Hairdresser]",3.7,17,None,"[[Sunday, 11AMâ€“6PM], [Monday, 10AMâ€“6PM], [Tues...",{'Accessibility': ['Wheelchair accessible entr...,Closed â‹… Opens 11AM,None,https://www.google.com/maps/place//data=!4m2!3...,NJ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2985739,Ulta Beauty,"Ulta Beauty, 12339 Seal Beach Blvd, Seal Beach...",0x80dd2e536f430ea9:0xb56fc5d02329aa45,Chain with a diverse selection of cosmetics & ...,33.783197,-118.073674,"[Cosmetics store, Beauty salon, Hairdresser]",4.5,178,None,"[[Saturday, 10AMâ€“9PM], [Sunday, 11AMâ€“6PM], [Mo...",{'Accessibility': ['Wheelchair accessible entr...,Closed â‹… Opens 11AM Sun,"[0x80dd2d74444799e7:0x398d0426150ab077, 0x80dd...",https://www.google.com/maps/place//data=!4m2!3...,CA
2988801,Ulta Beauty,"Ulta Beauty, 160 River Rd Ste A-140, Lisbon, C...",0x89e6778725d32203:0xe5f89de21172ad5e,Chain with a diverse selection of cosmetics & ...,41.584813,-71.992857,"[Cosmetics store, Beauty salon, Hairdresser]",4.2,98,None,"[[Saturday, 10AMâ€“9PM], [Sunday, 11AMâ€“6PM], [Mo...",{'Accessibility': ['Wheelchair accessible entr...,Closed â‹… Opens 11AM Sun,"[0x89e67787602b2f03:0xca5c33725a76468e, 0x89e6...",https://www.google.com/maps/place//data=!4m2!3...,CT
2991653,Ulta Beauty,"Ulta Beauty, 1240 US-22, Phillipsburg, NJ 08865",0x89c4727e09899fd1:0x5e9a64ab3765ec2,Chain with a diverse selection of cosmetics & ...,40.677387,-75.148792,"[Cosmetics store, Beauty salon, Hairdresser]",4.2,118,None,"[[Saturday, 10AMâ€“9PM], [Sunday, 11AMâ€“6PM], [Mo...",{'Accessibility': ['Wheelchair accessible entr...,Closed â‹… Opens 11AM Sun,"[0x89c4727d935563cf:0x8838a3f77f883d7d, 0x89c4...",https://www.google.com/maps/place//data=!4m2!3...,NJ
3007848,Ulta Beauty,"Ulta Beauty, 70 Worcester-Providence Turnpike ...",0x89e405bbeed21f7f:0xfa1bae7dae7677d2,Chain with a diverse selection of cosmetics & ...,42.196648,-71.779195,"[Cosmetics store, Beauty salon, Hairdresser]",3.9,46,None,"[[Saturday, 10AMâ€“9PM], [Sunday, 11AMâ€“6PM], [Mo...",{'Accessibility': ['Wheelchair accessible entr...,Open â‹… Closes 9PM,"[0x89e405614db5b085:0xd1680c67c8e25034, 0x89e4...",https://www.google.com/maps/place//data=!4m2!3...,MA
3008908,Ulta Beauty,"Ulta Beauty, 6250 Glenwood Ave Ste 104, Raleig...",0x89acf761a874832d:0x111803f8757a81e0,Chain with a diverse selection of cosmetics & ...,35.859071,-78.701722,"[Cosmetics store, Beauty salon, Hairdresser]",4.2,48,None,"[[Saturday, 10AMâ€“9PM], [Sunday, 11AMâ€“6PM], [Mo...",{'Accessibility': ['Wheelchair accessible entr...,Open â‹… Closes 9PM,"[0x89ac59ec0f8ca627:0x983accdfad22ae30, 0x89ac...",https://www.google.com/maps/place//data=!4m2!3...,NC

Eliminamos las columnas no necesarias para el analisis y modificamos los nombres de las columnas para igualar la nomenclatura con los demas datasets

In [9]:
df_google = df_google[["gmap_id","latitude","longitude","avg_rating","State"]]

In [10]:
df_google.head()

,gmap_id,latitude,longitude,avg_rating,State
10105,0x80e849691015d7b7:0x314b8627656bc6d5,34.215101,-119.068813,4.5,CA
36678,0x80e849691015d7b7:0x314b8627656bc6d5,34.215101,-119.068813,4.5,CA
87420,0x89e7ad0b7da12a11:0x2cab11e09a406d3a,41.719118,-72.760741,4.2,CT
105106,0x89c2d130d433cc0b:0xb550e43a7ce3540,41.314613,-74.133123,4.6,NY
107947,0x89c30355aba7b017:0x3735266fb77aee42,40.960001,-74.229523,3.7,NJ

In [35]:
# Renombrar las columnas
df_google.rename(columns={'gmap_id': 'business_id', 'avg_rating': 'stars'}, inplace=True)

C:\Users\PC GABRIEL VERON\AppData\Local\Temp\ipykernel_8108\1171329668.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_google.rename(columns={'gmap_id': 'business_id', 'avg_rating': 'stars'}, inplace=True)

In [36]:
df_google['business_id'].unique()

array(['0x80e849691015d7b7:0x314b8627656bc6d5',
       '0x89e7ad0b7da12a11:0x2cab11e09a406d3a',
       '0x89c2d130d433cc0b:0xb550e43a7ce3540',
       '0x89c30355aba7b017:0x3735266fb77aee42',
       '0x89b62b6664208fed:0x5c970eed3a4cec49',
       '0x89c39bff14375f07:0xc5ee9c1210c05e9a',
       '0x54c8d5e692d7ae15:0x29cf0300c7eb68ce',
       '0x89e8bfb8c1c6ea03:0x26dba039722009e0',
       '0x88c2c39fe4d578a9:0x6189d55364509b43',
       '0x88626770c6f52645:0x509b4f1c55e02490',
       '0x89e4bc81e70c1451:0x718ba1be3e35898a',
       '0x87f43a7a4e647ce7:0xb990c473b8e85463',
       '0x80c34bbe0919c561:0x4b279e03dbdd8fc1',
       '0x549f88262755026d:0x85c10dc33c648934',
       '0x89c1879ce42ea40d:0xdb5908f8d4ef0886',
       '0x88388f323eb6aaab:0x57fb8bd31aca0a82',
       '0x8632d528f6d437a5:0x3c2b0e8f2d86c3e2',
       '0x5495728b86a037fb:0xb530bc240a174a3c',
       '0x54994740f3e4a15d:0x194a0b8f4559b15f',
       '0x87befdda22a09025:0x7c34e6ca036879be',
       '0x8830935bad81a517:0x1606fb68c0dd24ca',
       '0x89c6cbbebd9789bf:0xddfe5a5440d73af2',
       '0x880fc7f4d19ff7c7:0x1888c3028bac4771',
       '0x80dcf16f6a8bbe25:0x192172bd44b90da6',
       '0x89ca8f885447fff3:0x99efea0b7c49c86f',
       '0x89e848fe64ce4f83:0x74857e8e3984210d',
       '0x80daf727d197ac05:0xf7ac9fd1d54c3df4',
       '0x89e653bf31c5f9ab:0x9659e4ac4e64721c',
       '0x88d92f3897c94b4f:0xc0655cbea7e2cc30',
       '0x56c8942452d84811:0xe5c4b11a9df014e6',
       '0x89e5aeb4781327db:0x39f11aa7bed613ee',
       '0x880eea4e2e69579f:0x71585725d57ea47a',
       '0x89c3d42532ca8baf:0xa69d15d499919f34',
       '0x88002162a3492b83:0x8d1498305df2658e',
       '0x872a6ff6df7e31db:0x702113bb22fc19c2',
       '0x88ff678fdf87b951:0xa7828dd7c00a62e5',
       '0x88f58533492249c1:0x5b0cbf923ce6a0d6',
       '0x89e389817ec44871:0x8c98a39f95381fcf',
       '0x88672370ce97f43f:0xc831d995840f6fa3',
       '0x89d0825a0a93a329:0x76b52d4eed64ccca',
       '0x80dce086039a433d:0xf2df2336b87f04',
       '0x88db6b507476f9e9:0x711c0932b482976d',
       '0x8620a6feea733329:0xabee5aac871b2d8b',
       '0x864e9e619b3ac561:0x4f9fe23013c83b66',
       '0x88f5dd4f760652e5:0x3bd180900f870bb3',
       '0x8085b3f896717a4f:0x9e7ab78286d90e8f',
       '0x873b8f313c152dcf:0xa4e7da38659f09d8',
       '0x88dc5795efd9f2fd:0x2e2c67a58a1106c7',
       '0x87d7b08a7494478d:0x8f21900684e1078',
       '0x80946f18448695c1:0xa4e8fb865009e976',
       '0x808577a7ce822e91:0xc2a94739b232f0e0',
       '0x89c80f0537d1342d:0x9a845d4e7c0060ee',
       '0x80c2d980af465d05:0xb3658f28ee3c13dc',
       '0x89c6d1d73166c45d:0x80da2844ced834a5',
       '0x88388e6da42a9513:0xa7e890efceacf7f3',
       '0x87220ddb59291a7d:0xc8183901d89e27c6',
       '0x88d9dd92328f010d:0xb8c03e0083f3fcd8',
       '0x874dbd1f6fd52e81:0xda6420bf418465be',
       '0x872b0fa5c59dc94d:0x177bac3a8f9dde4b',
       '0x865c672f46a46013:0x8a305de85b893ade',
       '0x87b68bb35d59b4e1:0x9ef0e703a52d6f22',
       '0x8816e9916be9a2f7:0x9ee6eefd086f8612',
       '0x89c133080894d907:0x457d462952082336',
       '0x864e725c48ca5cd9:0xa1719b85ecceecbf',
       '0x880e2ca358cc8e5d:0x9dc20359b5bb3630',
       '0x8875477ba6ca7da3:0xe52278f8cc3be314',
       '0x80dceb07824add5b:0xb6de8fc24de211d6',
       '0x863ab52c13d72fbb:0xd441a3bed94961f5',
       '0x8805428428e55f55:0x597ad5743f2d948a',
       '0x87afd258ceccdb0d:0x182166c80c81a863',
       '0x87b71391ecd5d699:0x8218ac1e560c6043',
       '0x87d9492d89038ec1:0x645544d2d0fa257e',
       '0x88585f469083041f:0xc21bf48f12f9fc4c',
       '0x880fbb0e296fc935:0xb789d2ad3e6b7eb9',
       '0x89e3f3251fe76bd9:0x38a75d0576e1a0cd',
       '0x87e2366e08f9588d:0xb74d7a6fe82aa2b1',
       '0x88357be1549bf96f:0xff8d427f62837d0',
       '0x876c81e4f574cbcf:0x72cdbb2bc721c72f',
       '0x863b867b2ce90771:0xdd9d8ccec3e1f72c',
       '0x89b7e0f7b514ee9d:0xd3b2e10bd04103b4',
       '0x549072b0aa9fcc05:0xeb7610b6f18b7e7a',
       '0x87a4b63ea209eaff:0x889839977d1ffdcf',
       '0x8880705d48ecc4f1:0xbadb0cbec189263e',
       '0x880fcf41d1d9cdbf:0x9213629971dd64cf',
       '0x80851426a3c6d431:0xe91f3ce49ee521d3',
       '0x883cf171b7e300a9:0x9c30c698b0293104',
       '0x89e2f14311b99549:0x82623797038346a0',
       '0x5361c0e762a750ff:0x967cdde1ae163b6d',
       '0x89e7d0cbb5191eff:0x9333bb1d98029a8',
       '0x808e2e2285fae447:0x8b13689e10b3900a',
       '0x883462a63d203419:0x74ea4b6a6d9e2c09',
       '0x87c0dd32c7634ab7:0xa3e74a017bc11cff',
       '0x80c8d6b410317733:0x89d78bd26d34e5d6',
       '0x88db17100f390105:0xd395811e26dc0021',
       '0x89d6b17e57f4d7d7:0xa69b86a6b78554da',
       '0x8886ebd7a692619f:0x3f867a0058002100',
       '0x88388a627d2e64b5:0xf34c3de8abec9f22',
       '0x87b21a1785ab517f:0xee41ce35aee31845',
       '0x865b37ebc039a31b:0x8e1796e3a818fefe',
       '0x88e72777f7c69b2d:0x8e549f07a41a22e1',
       '0x88fae3f774351653:0xfcfef03ac4a56fa',
       '0x8856817640c7338d:0x3f868f37e393ad8e',
       '0x80dcef4bbc4915a1:0x56c658364bc1040e',
       '0x88f8b004d3b876b9:0x3e1f087b5b19a157',
       '0x87e4f10976e97cb3:0xff9aa4a164343111',
       '0x864e2183b2b97d1f:0x2358817be298ed97',
       '0x52b3236eaf105175:0x8393439a89fcfab0',
       '0x864e890b254d8a15:0x79b34c6510a2643',
       '0x880e29718ddc36e1:0xbaf4e05bd1172021',
       '0x8854b48a4fb234e9:0x9905f1bbdb285b3e',
       '0x89e85b0462c40323:0x58489e65d001255',
       '0x549041677a79caab:0xff3c68fef5b197b3',
       '0x808f91ce0bd2e4bb:0xa2aabf6c8d3c3c35',
       '0x864c33f817b7e87b:0x257c4497264f8d93',
       '0x80e82eb5a58ef6af:0x3dc0fc9cee8800fd',
       '0x883093a060f7b667:0x7752359bf2238c48',
       '0x8836d6ca1199fcd3:0xd173ea92aed2fd57',
       '0x87547de81cc5a38d:0x146f73d65868b467',
       '0x8810c436c08c5c45:0x82fcff088f4bca05',
       '0x87cf6146434a1f5f:0xa4c9814860360520',
       '0x89c30966eac2b4dd:0x4832071b66534f0b',
       '0x889383e7afd4e7b9:0x10c5f384fd54ae41',
       '0x80859a189e64bd75:0xff714649a523c287',
       '0x88c31798c9632c9b:0x164fbff71aa67507',
       '0x864c1bdd6fa74417:0x6d65852e35886667',
       '0x864c217be6712961:0x125f822be582f448',
       '0x89baeb17a20a61ff:0x5d91452e3e698ce4',
       '0x89c2f9fd1572d30b:0xc681734d9e5cc1ae',
       '0x864c2f758f5ce065:0x32a9c6c522fc0e2f',
       '0x89c2fb7923cf1bc1:0x44473272f4eea9b',
       '0x80db43a819c3406d:0xcd744bd5111dd265',
       '0x89e82bf6140baeed:0x8129aa8c05fac584',
       '0x89e6d16cb7a055d1:0xd4c12cb7d2dea352',
       '0x8626b5c18a472f51:0xf76988396c99cad',
       '0x8640c7cb4370df9b:0x7b80fe395f38c50e',
       '0x880e57b87a85e763:0x820b50c20d04778',
       '0x8745627826b205a7:0xa51ac3ac6c281b6a',
       '0x88847d011708b257:0x7106d32a68da553c',
       '0x7c0015742be7c589:0xa6f432ddffe2b5e2',
       '0x880f99997809f01d:0x23c8080052b667f1',
       '0x80c291baa2d8114f:0x37cf09934731a395',
       '0x876c6c4493d4fc1f:0xda60de8fd444ca75',
       '0x80ec1f120e132d8b:0xc17e88fa1dc68b3b',
       '0x864043ea8cb92a89:0xfa986a13fa787ea6',
       '0x80ea43726e77319b:0x55459e94d1a5cc4e',
       '0x88892218e9cd6499:0x421281dcaf386e1d',
       '0x80c29d92076f0621:0x3c28efe120cad609',
       '0x89d375ed738685a1:0xf94796ad47550bf0',
       '0x8644d7378e955b4d:0x332ab1014d32203a',
       '0x89c259f5cd286f9f:0xd7f304c78a07bf1d',
       '0x88e8bc9c1cb8a9c9:0xc54af76cc3aa026e',
       '0x89c22f83fd079ae7:0xee3529b535dd9bd7',
       '0x89c2f590aa8b7d31:0x924a1bbe0afca374',
       '0x880fc7af7a4e4e75:0x642cff114e6f4196',
       '0x89e7ca02be0dbcf9:0x6ed41a5b33f76942',
       '0x80dd2b9281580c83:0x35d93e9b1861b999',
       '0x80c285098a6816c5:0x24ddd9b0f48acba0',
       '0x8846778196af8c1f:0xc43ccd2a2c7d31ec',
       '0x89fb3123be2d306b:0xca5797c60119d611',
       '0x89e6e517a916a47b:0x8e88519f1e5b56e',
       '0x8888a833c3af13fd:0x343c3567897354e5',
       '0x864c1d93a69f734b:0x6049a29eefbff700',
       '0x89aa750d6d06b215:0xf9cdaa06e632d545',
       '0x864c11610741c9d3:0xa6082d6a86127e27',
       '0x89c8475a263725cf:0x4cd5cc2241ecad27',
       '0x88d9b49ad5a22fd9:0x1972e5c0120e5216',
       '0x88f8aa49f6a6da93:0xf5337c4e9e42e4b8',
       '0x89e3632d0b64029f:0xf8db66ec73c70f09',
       '0x80e940afbdae32e1:0xcd1f0ccb65b20372',
       '0x8640dd16e03afb8d:0xe9bd757533133347',
       '0x89de09afb465d365:0x21bc75937afa9f90',
       '0x52b45f0f2ed93f99:0x94a56b99e6c52723',
       '0x88e69d5ecda6858f:0x8789c8088c2ac29d',
       '0x889385f0f0a13739:0xd1b66ba01811dce5',
       '0x89a9f5ab2e82540d:0xf69a95cec7025765',
       '0x864e794e3801c82f:0x8702030325ab5c28',
       '0x88d9c791124ae941:0xc52faa7aa12527b3',
       '0x87e444732f66fd47:0x8937a7df838de1cb',
       '0x54900dfa59fa734f:0x7dd6b1c56e0c5d9',
       '0x89c3e17a94f96725:0x307c9fb4c397f981',
       '0x864c88eec6fc7f0f:0xb4e228a6cb419601',
       '0x89de30c8a8f69883:0xe6e09c879eed0716',
       '0x883884f2d74bacb5:0x6e75affcc84a72ac',
       '0x80c29fcfdcdff34d:0x3a056477869b22d8',
       '0x88fa47413d0e09b1:0x316e320f01b3a53a',
       '0x88f54f776e158bf3:0x9bc6edd9c227f86c',
       '0x87df37e603946bed:0x9ec830f9cba03cb7',
       '0x8805a5e7df5597d7:0x308dadda55a555b9',
       '0x80db1c92a60009b7:0x3e6fcabf0c041398',
       '0x880fbb08b30978c1:0xf78f3c2da1d5ca90',
       '0x89c6a5d33ba94bdb:0x4985e8d4b7cbd2da',
       '0x874d9afa7e46e697:0xaf5ba3db378a2e4c',
       '0x80dce8fa0359425d:0x46aab3dcd793594e',
       '0x88f3e13747cfd28d:0x4cd6dbd2fb5371aa',
       '0x86409900c7cb7d8d:0x3b1bab3daf6ff21e',
       '0x89c6c7b40610d7eb:0x849f3b8b3b380a53',
       '0x87b26b79d8dfe8e7:0xd5fe9c6f735cde3b',
       '0x80857e13ff1e5f43:0xde648abea14b40a8',
       '0x888a0323e016f07d:0x2cc24d39a9db25c1',
       '0x89e7c103b44769df:0x654ac80919fd6c09',
       '0x864e6d2fd9580217:0xf02238785342323d',
       '0x89c2866d1deb70bf:0xb5bf19c6cfe49c41',
       '0x89b7c96e814a6a5b:0x370df137084f7bf2',
       '0x8817ee6fc7fba571:0xcb2a36eac5257f38',
       '0x87471d3a23a94051:0x5d32d92f5446718b',
       '0x80c2cc19697ba4cf:0x8d8cf9c32a11dad4',
       '0x863f59569ede4915:0xae09e05f286c703b',
       '0x8890c011574c2c31:0x2f2089b26c7aa75d',
       '0x808de493b5644441:0x18e17ea68cebea9e',
       '0x8626bf6d42ff525b:0xf3a4a802a107a0c6',
       '0x88582b439b10c11b:0x4830bbc944c714de',
       '0x89c61d3da7817d7f:0x99158e228819ae01',
       '0x533495e641aa6e71:0xcb788f90b8c056ae',
       '0x8824a22f7134e217:0x5c3c45d1846df803',
       '0x88169eaf42edb957:0x9bcd07671f44bd49',
       '0x880f2a3599e32235:0x78d70e95b48bca4c',
       '0x886075331e6ff26d:0xbe86a29a0102542b',
       '0x878eb391e3bc762f:0x93a75472f6356722',
       '0x4cca796c462e7503:0xf6b405e6de72a08f',
       '0x4cb203d7a345bdeb:0x3c5b1e7bb59a7e9e',
       '0x888925f3a96abce1:0x4be2f1d433222891',
       '0x864c394f020aaa49:0x20e59a02a019a45d',
       '0x876c766470d23375:0x81706d5842938edb',
       '0x5342381c6ddf30e3:0xfbe922695b89d6de',
       '0x808fe985ad5d01df:0x20e8c372f20b006c',
       '0x88d91958f9f6f4ab:0x111e84f49744687d',
       '0x880fa30ab6b747f3:0x2a88bf8178a2c164',
       '0x89b7b873f4bb3653:0x2279dc47461cd2d8',
       '0x89b7633b0309cef7:0x3be7662a577800f0',
       '0x89e45d7b5d17823b:0x633fc817a20dc197',
       '0x808f86a51b871b89:0xb32edb857537adcf',
       '0x89c99ef4abfbecc7:0xc711aac2e48817ae',
       '0x89e88aac23f7f23f:0x49ab9cf0a87c873',
       '0x80dd4b91504c62b1:0xb3cc9dca79aa311d',
       '0x883ef3a61fd8283b:0x8e94dd5107d09edc',
       '0x87b6f1e3d067ff7d:0x11d955f4a804eb54',
       '0x87df2abea993cd4f:0xf937b38a41d537bc',
       '0x80dd2e536f430ea9:0xb56fc5d02329aa45',
       '0x89e6778725d32203:0xe5f89de21172ad5e',
       '0x89c4727e09899fd1:0x5e9a64ab3765ec2',
       '0x89e405bbeed21f7f:0xfa1bae7dae7677d2',
       '0x89acf761a874832d:0x111803f8757a81e0'], dtype=object)

Analizando reviews

In [ ]:
# Especifica la ruta de la carpeta que contiene los archivos Parquet
ruta_carpeta_parquet = '../datasets/parquets/reviews-Google'

# Lista para almacenar los DataFrames de cada archivo Parquet
df_reviews = []

# Itera sobre los archivos en la carpeta
for archivo_parquet in os.listdir(ruta_carpeta_parquet):
    if archivo_parquet.endswith('.parquet'):
        # Lee cada archivo Parquet y agrega el DataFrame a la lista
        df_parquet = pq.read_table(os.path.join(ruta_carpeta_parquet, archivo_parquet)).to_pandas()
        df_reviews.append(df_parquet)

# Concatena todos los DataFrames en uno solo
df_final = pd.concat(df_reviews, ignore_index=True)

In [ ]:
# ObtÃ©n los business_id Ãºnicos de df_google
business_ids_to_keep = df_google['business_id'].unique()

# Filtra df_reviews_ulta_beauty utilizando isin
df_reviews_ulta_beauty = df_final[df_final['gmap_id'].isin(business_ids_to_keep)]

Sacamos el mes y el aÃ±o de la columna time y borramos la columna time

In [ ]:
from datetime import datetime

# Supongamos que tu DataFrame se llama df y la columna 'time' contiene los valores de tiempo en milisegundos
df_reviews_ulta_beauty['time'] = pd.to_datetime(df_reviews_ulta_beauty['time'], unit='ms')  # Convertir milisegundos a formato de fecha y hora

# Extraer el mes y el aÃ±o en columnas separadas
df_reviews_ulta_beauty['month'] = df_reviews_ulta_beauty['time'].dt.month
df_reviews_ulta_beauty['year'] = df_reviews_ulta_beauty['time'].dt.year

df_reviews_ulta_beauty.drop(columns=['time'],inplace=True)

C:\Users\Grethel\AppData\Local\Temp\ipykernel_14140\574391587.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_ulta_beauty['time'] = pd.to_datetime(df_reviews_ulta_beauty['time'], unit='ms')  # Convertir milisegundos a formato de fecha y hora
C:\Users\Grethel\AppData\Local\Temp\ipykernel_14140\574391587.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_ulta_beauty['month'] = df_reviews_ulta_beauty['time'].dt.month
C:\Users\Grethel\AppData\Local\Temp\ipykernel_14140\574391587.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_ulta_beauty['year'] = df_reviews_ulta_beauty['time'].dt.year
C:\Users\Grethel\AppData\Local\Temp\ipykernel_14140\574391587.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_ulta_beauty.drop(columns=['time'],inplace=True)

In [ ]:
df_reviews_ulta_beauty

,user_id,name,rating,text,pics,resp,gmap_id,month,year
117078,1.118232e+20,Azziza S,5,Both budget priced and high quality cosmetics ...,None,None,0x88892218e9cd6499:0x421281dcaf386e1d,5,2017
117079,1.042629e+20,Emily Nieters,3,"SOMER IS THE BEST STYLIST THEY HAVE, OTHER STY...",None,None,0x88892218e9cd6499:0x421281dcaf386e1d,9,2017
117080,1.043726e+20,Lauren Turner,5,Very helpful staff. Everyone seemed knowledge...,None,None,0x88892218e9cd6499:0x421281dcaf386e1d,2,2017
117081,1.143917e+20,Kylie Jerkins,5,Fantastic selection and great staff,None,None,0x88892218e9cd6499:0x421281dcaf386e1d,3,2017
117082,1.090261e+20,Elizabeth Gary,5,Great products!,None,None,0x88892218e9cd6499:0x421281dcaf386e1d,12,2016
...,...,...,...,...,...,...,...,...,...
89400018,1.120971e+20,Jeff Wilson,5,None,None,None,0x533495e641aa6e71:0xcb788f90b8c056ae,2,2021
89400019,1.099145e+20,B Bloom,5,None,None,None,0x533495e641aa6e71:0xcb788f90b8c056ae,9,2020
89400020,1.000163e+20,Elizabeth Isum,5,None,None,None,0x533495e641aa6e71:0xcb788f90b8c056ae,6,2021
89400021,1.128856e+20,Kimber Tippett,5,None,None,None,0x533495e641aa6e71:0xcb788f90b8c056ae,6,2021
89400022,1.044666e+20,Casey Jordan,5,None,None,None,0x533495e641aa6e71:0xcb788f90b8c056ae,2,2021

borramos name , pics , resp

In [ ]:
df_reviews_ulta_beauty.drop(columns=['name','pics','resp'],inplace=True)

C:\Users\Grethel\AppData\Local\Temp\ipykernel_14140\575661383.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_ulta_beauty.drop(columns=['name','pics','resp'],inplace=True)

Hacemos el merge de df_reviews_ulta_beauty y df_google

In [ ]:
G_ulta_beauty = pd.merge(df_reviews_ulta_beauty, df_google, left_on='gmap_id', right_on='business_id', how='inner')

In [ ]:
G_ulta_beauty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17188 entries, 0 to 17187
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      17188 non-null  float64
 1   rating       17188 non-null  int64
 2   text         8575 non-null   object
 3   gmap_id      17188 non-null  object
 4   month        17188 non-null  int32
 5   year         17188 non-null  int32
 6   business_id  17188 non-null  object
 7   latitude     17188 non-null  float64
 8   longitude    17188 non-null  float64
 9   stars        17188 non-null  float64
 10  State        17188 non-null  object
dtypes: float64(4), int32(2), int64(1), object(4)
memory usage: 1.3+ MB

Borramos la columna de gmap_id , stars

In [ ]:
G_ulta_beauty.drop(columns=['gmap_id','stars'],inplace=True)

Cambiamos los nombres de la columna rating como stars y State como state

In [ ]:
G_ulta_beauty.rename(columns={'rating': 'stars', 'State': 'state'}, inplace=True)

Agregamos la columna de la fuente de informaciÃ³n

In [ ]:
G_ulta_beauty['source']='G'

In [ ]:
G_ulta_beauty

,user_id,stars,text,month,year,business_id,latitude,longitude,state,source
0,1.118232e+20,5,Both budget priced and high quality cosmetics ...,5,2017,0x88892218e9cd6499:0x421281dcaf386e1d,33.375896,-86.817683,AL,G
1,1.042629e+20,3,"SOMER IS THE BEST STYLIST THEY HAVE, OTHER STY...",9,2017,0x88892218e9cd6499:0x421281dcaf386e1d,33.375896,-86.817683,AL,G
2,1.043726e+20,5,Very helpful staff. Everyone seemed knowledge...,2,2017,0x88892218e9cd6499:0x421281dcaf386e1d,33.375896,-86.817683,AL,G
3,1.143917e+20,5,Fantastic selection and great staff,3,2017,0x88892218e9cd6499:0x421281dcaf386e1d,33.375896,-86.817683,AL,G
4,1.090261e+20,5,Great products!,12,2016,0x88892218e9cd6499:0x421281dcaf386e1d,33.375896,-86.817683,AL,G
...,...,...,...,...,...,...,...,...,...,...
17183,1.120971e+20,5,None,2,2021,0x533495e641aa6e71:0xcb788f90b8c056ae,44.274553,-105.498059,WY,G
17184,1.099145e+20,5,None,9,2020,0x533495e641aa6e71:0xcb788f90b8c056ae,44.274553,-105.498059,WY,G
17185,1.000163e+20,5,None,6,2021,0x533495e641aa6e71:0xcb788f90b8c056ae,44.274553,-105.498059,WY,G
17186,1.128856e+20,5,None,6,2021,0x533495e641aa6e71:0xcb788f90b8c056ae,44.274553,-105.498059,WY,G
17187,1.044666e+20,5,None,2,2021,0x533495e641aa6e71:0xcb788f90b8c056ae,44.274553,-105.498059,WY,G

orden yelp: user_id	business_id	stars	text	year	state	latitude	longitude source	month

In [ ]:
G_ulta_beauty = G_ulta_beauty[['user_id', 'business_id', 'stars', 'text', 'year', 'state', 'latitude', 'longitude', 'source', 'month']]

Agregacion de columna State_Name (Gabriel)

In [26]:
G_ulta_beauty=pd.read_csv('..\datasets\csv\G_ulta_beauty.csv')
G_ulta_beauty.drop('Unnamed: 0', axis=1, inplace=True)

In [16]:
#Leemos el nombre de cada abreviacion.
abreviaturas = pd.read_csv('..\datasets/csv/estados-abreviaturas.csv', encoding='latin1', delimiter=';')

In [29]:
# Realizar una fusiÃ³n (merge) basada en la columna 'state'
G_ulta_beauty = pd.merge(G_ulta_beauty, abreviaturas[['Abreviatura', 'Estado']], how='left', left_on='state', right_on='Abreviatura')

# Eliminar la columna duplicada 'Abreviatura'
G_ulta_beauty.drop('Abreviatura', axis=1, inplace=True)

In [ ]:
# Cambiar el nombre de la columna 'Estado' a 'state_name'
G_ulta_beauty.rename(columns={'Estado': 'state_name'}, inplace=True)

# Reorganizar las columnas colocando 'state_name' a la derecha de 'state'
column_order = ['user_id', 'business_id', 'stars', 'text', 'year', 'state', 'state_name', 'latitude', 'longitude', 'source', 'month']

# Actualizar el DataFrame con el nuevo orden de columnas
G_ulta_beauty = G_ulta_beauty[column_order]

In [39]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Convertimos a CSV

In [37]:
G_ulta_beauty.to_csv(r'..\datasets\csv\G_ulta_beauty.csv')

Codigo para sacar

In [ ]:
from datetime import datetime

# Cambio el formato de la columna time, de epoch a datetime
df_ulta_beauty['time'] = pd.to_datetime(df_ulta_beauty['time'], unit='ms')

In [ ]:
# Exportamos el dataframe filtrado
df_ulta_beauty.to_csv('../datasets/csv/reviews_ulta_beauty.csv', index=False)

In [ ]:
df_ulta_beauty.head(5)

,user_id,name,time,rating,text,pics,resp,gmap_id
117078,1.118232e+20,Azziza S,2017-05-17 15:31:12.380,5,Both budget priced and high quality cosmetics ...,None,None,0x88892218e9cd6499:0x421281dcaf386e1d
117079,1.042629e+20,Emily Nieters,2017-09-15 18:04:12.054,3,"SOMER IS THE BEST STYLIST THEY HAVE, OTHER STY...",None,None,0x88892218e9cd6499:0x421281dcaf386e1d
117080,1.043726e+20,Lauren Turner,2017-02-25 05:45:48.250,5,Very helpful staff. Everyone seemed knowledge...,None,None,0x88892218e9cd6499:0x421281dcaf386e1d
117081,1.143917e+20,Kylie Jerkins,2017-03-30 04:43:22.686,5,Fantastic selection and great staff,None,None,0x88892218e9cd6499:0x421281dcaf386e1d
117082,1.090261e+20,Elizabeth Gary,2016-12-11 23:22:34.248,5,Great products!,None,None,0x88892218e9cd6499:0x421281dcaf386e1d

In [ ]:
#Se extrae el aÃ±o
df_ulta_beauty.loc[:,'aÃ±o']=df_ulta_beauty.time.dt.year
#Se cuenta por aÃ±o y rating
dfreviews_ulta_beauty_conteo=df_ulta_beauty[['aÃ±o','rating', 'name']].groupby(['aÃ±o','rating']).count()

In [57]:
dfreviews_ulta_beauty_conteo.to_csv('../datasets/csv/G_stars_count_ultabeauty.csv')